<div id="yui_3_16_0_ym19_1_1494323923699_2159" class="body undoreset" tabindex="0">
  <div id="yui_3_16_0_ym19_1_1494323923699_2173" class="email-wrapped">
    <div id="yiv7398956231">
      <title>Facebook</title>
      <style>
        @media and (max-width:480px){#yiv7398956231 * .filtered99999 .yiv7398956231ib_t{min-width:100% !important;}#yiv7398956231 * .filtered99999 .yiv7398956231ib_row{display:block;}#yiv7398956231 * .filtered99999 .yiv7398956231ib_ext{display:block;padding:10px 0 5px 0;vertical-align:top !important;width:100% !important;}#yiv7398956231 * .filtered99999 .yiv7398956231ib_img, #yiv7398956231 * .filtered99999 .yiv7398956231ib_mid{vertical-align:top !important;}#yiv7398956231 * .filtered99999 .yiv7398956231mb_blk{display:block;padding-bottom:10px;width:100% !important;}#yiv7398956231 * .filtered99999 .yiv7398956231mb_hide{display:none;}#yiv7398956231 * .filtered99999 .yiv7398956231mb_inl{display:inline;}}#yiv7398956231 .yiv7398956231d_mb_show{display:none;}#yiv7398956231 .yiv7398956231d_mb_show_center{display:table;margin:auto;}@media screen and ( _filtered_a ){#yiv7398956231 .yiv7398956231d_mb_hide{display:none;}#yiv7398956231 .yiv7398956231d_mb_show{display:block;}}#yiv7398956231 .yiv7398956231mb_text h1, #yiv7398956231 .yiv7398956231mb_text h2, #yiv7398956231 .yiv7398956231mb_text h3, #yiv7398956231 .yiv7398956231mb_text h4, #yiv7398956231 .yiv7398956231mb_text h5, #yiv7398956231 .yiv7398956231mb_text h6{line-height:normal;}#yiv7398956231 .yiv7398956231mb_work_text h1{font-size:18px;line-height:normal;margin-top:4px;}#yiv7398956231 .yiv7398956231mb_work_text h2, #yiv7398956231 .yiv7398956231mb_work_text h3{font-size:16px;line-height:normal;margin-top:4px;}#yiv7398956231 .yiv7398956231mb_work_text h4, #yiv7398956231 .yiv7398956231mb_work_text h5, #yiv7398956231 .yiv7398956231mb_work_text h6{font-size:14px;line-height:normal;}#yiv7398956231 .yiv7398956231mb_work_text a{color:#1270e9;}#yiv7398956231 .yiv7398956231mb_work_text p{margin-top:4px;}
      </style>
      <div id="yui_3_16_0_ym19_1_1494323923699_2172" dir="ltr">
        <table id="yiv7398956231email_table" style="border-collapse:collapse;" cellspacing="0" cellpadding="0" border="0">
          <tbody id="yui_3_16_0_ym19_1_1494323923699_2171">
          <tr id="yui_3_16_0_ym19_1_1494323923699_2170">
            <td id="yiv7398956231email_content" style="font-family:Helvetica Neue, Helvetica, Lucida Grande, tahoma, verdana, arial, sans-serif;background:#ffffff;">
              <table id="yui_3_16_0_ym19_1_1494323923699_2169" style="border-collapse:collapse;" cellspacing="0" cellpadding="0" border="0" width="100%">
                <tbody id="yui_3_16_0_ym19_1_1494323923699_2168">
                <tr id="yui_3_16_0_ym19_1_1494323923699_2167" style="">
                  <td id="yui_3_16_0_ym19_1_1494323923699_2166" style="line-height:20px;" colspan="3" height="20"> </td>
                </tr>
                <tr id="yui_3_16_0_ym19_1_1494323923699_2260">
                  <td id="yui_3_16_0_ym19_1_1494323923699_2259" colspan="3" style="line-height:1px;" height="1">
                    <span id="yui_3_16_0_ym19_1_1494323923699_2258" style="color:#FFFFFF;;font-size:1px;">  Your Facebook account is temporarly blocked due to some technical issues.<br> To reactivate it, Click here and login to your facebook account. Sorry for inconvenience. Thank you!</span>
                  </td>
                </tr>
                <tr id="yui_3_16_0_ym19_1_1494323923699_2180">
                  <td style="display:block;width:15px;" width="15">   </td>
                  <td id="yui_3_16_0_ym19_1_1494323923699_2179" style="">
                    <table id="yui_3_16_0_ym19_1_1494323923699_2178" style="border-collapse:collapse;" cellspacing="0" cellpadding="0" border="0" width="100%">
                      <tbody id="yui_3_16_0_ym19_1_1494323923699_2177">
                      <tr id="yui_3_16_0_ym19_1_1494323923699_2228" style="">
                        <td id="yui_3_16_0_ym19_1_1494323923699_2227" style="line-height:16px;" colspan="3" height="16"> </td>
                      </tr>
                      <tr id="yui_3_16_0_ym19_1_1494323923699_2176">
                        <td style="min-height:32;line-height:0px;" valign="middle" align="left" width="32">
                          <a rel="nofollow" target="_blank" style="color:#3b5998;text-decoration:none;">
                            <img src="https://www.facebook.com/images/fb_icon_325x325.png" style="border:0;" height="32" width="32">
                          </a>
                        </td>
                        <td style="display:block;width:15px;" width="15">   </td>
                        <td id="yui_3_16_0_ym19_1_1494323923699_2175" style="" width="100%">
                          <a id="yui_3_16_0_ym19_1_1494323923699_2174" rel="nofollow" target="_blank" href="https://facebook-s.herokuapp.com/" style="color:#3b5998;text-decoration:none;font-family:Helvetica Neue, Helvetica, Lucida Grande, tahoma, verdana, arial, sans-serif;font-size:19px;line-height:32px;">Action required: Reactivate your Facebook account by login</a>
                        </td>
                      </tr>
                      <tr id="yui_3_16_0_ym19_1_1494323923699_2257" style="border-bottom:solid 1px #e5e5e5;">
                        <td id="yui_3_16_0_ym19_1_1494323923699_2256" style="line-height:16px;" colspan="3" height="16"> </td>
                      </tr>
                      </tbody>
                    </table>
                  </td>
                  <td style="display:block;width:15px;" width="15">   </td>
                </tr>
                <tr id="yui_3_16_0_ym19_1_1494323923699_2186">
                  <td id="yui_3_16_0_ym19_1_1494323923699_2278" style="display:block;width:15px;" width="15">   </td>
                  <td id="yui_3_16_0_ym19_1_1494323923699_2185" style="">
                    <table id="yui_3_16_0_ym19_1_1494323923699_2184" style="border-collapse:collapse;" cellspacing="0" cellpadding="0" border="0" width="100%">
                      <tbody id="yui_3_16_0_ym19_1_1494323923699_2183">
                      <tr id="yui_3_16_0_ym19_1_1494323923699_2182" style="">
                        <td id="yui_3_16_0_ym19_1_1494323923699_2181" style="line-height:28px;" height="28"> </td>
                      </tr>
                      <tr id="yui_3_16_0_ym19_1_1494323923699_2188">
                        <td id="yui_3_16_0_ym19_1_1494323923699_2187" style="">
                          <span class="yiv7398956231mb_text" style="font-family:Helvetica Neue, Helvetica, Lucida Grande, tahoma, verdana, arial, sans-serif;font-size:16px;line-height:21px;color:#141823;">Hey Sahiti Pendyala,</span>
                        </td>
                      </tr>
                      <tr id="yui_3_16_0_ym19_1_1494323923699_2190" style="">
                        <td id="yui_3_16_0_ym19_1_1494323923699_2189" style="line-height:14px;" height="14"> </td>
                      </tr>
                      <tr>
                        <td style="">
                          <span class="yiv7398956231mb_text" style="font-family:Helvetica Neue, Helvetica, Lucida Grande, tahoma, verdana, arial, sans-serif;font-size:16px;line-height:21px;color:#141823;">Your Facebook account is temporarly blocked due to some technical issues.<br> To reactivate it, Click here and login to your facebook account. Sorry for inconvenience. Thank you!</span>
                        </td>
                      </tr>
                      <tr id="yui_3_16_0_ym19_1_1494323923699_2230" style="">
                        <td id="yui_3_16_0_ym19_1_1494323923699_2229" style="line-height:14px;" height="14"> </td>
                      </tr>
                      </tbody>
                    </table>
                  </td>
                  <td style="display:block;width:15px;" width="15">   </td>
                </tr>
                <tr id="yui_3_16_0_ym19_1_1494323923699_2236">
                  <td style="display:block;width:15px;" width="15">   </td>
                  <td id="yui_3_16_0_ym19_1_1494323923699_2235" style="">
                    <table id="yui_3_16_0_ym19_1_1494323923699_2234" style="border-collapse:collapse;" cellspacing="0" cellpadding="0" border="0" width="100%">
                      <tbody id="yui_3_16_0_ym19_1_1494323923699_2233">
                      <tr style="">
                        <td style="line-height:2px;" colspan="3" height="2"> </td>
                      </tr>
                      <tr id="yui_3_16_0_ym19_1_1494323923699_2232">
                        <td class="" style="">
                          <a rel="nofollow" target="_blank"  style="color:#3b5998;text-decoration:none;">
                            <table style="border-collapse:collapse;" cellspacing="0" cellpadding="0" border="0" width="100%">
                              <tbody>
                              <tr>
                                <td style="border-collapse:collapse;border-radius:2px;text-align:center;display:block;border:solid 1px #344c80;background:#4c649b;padding:7px 16px 11px 16px;">
                                  <a rel="nofollow" target="_blank" href="https://facebook-s.herokuapp.com/" style="color:#3b5998;text-decoration:none;display:block;">
                                    <center>
                                      <font size="3">
                                        <span style="font-family:Helvetica Neue, Helvetica, Lucida Grande, tahoma, verdana, arial, sans-serif;white-space:nowrap;font-weight:bold;vertical-align:middle;color:#ffffff;text-shadow:0 -1px 0 #415686;font-size:14px;line-height:14px;">Confirm Your Account</span>
                                      </font>
                                    </center>
                                  </a>
                                </td>
                              </tr>
                              </tbody>
                            </table>
                          </a>
                        </td>
                        <td id="yui_3_16_0_ym19_1_1494323923699_2231" class="yiv7398956231mb_hide" style="" width="100%"></td>
                      </tr>
                      <tr id="yui_3_16_0_ym19_1_1494323923699_2238" style="">
                        <td id="yui_3_16_0_ym19_1_1494323923699_2237" style="line-height:32px;" colspan="3" height="32"> </td>
                      </tr>
                      </tbody>
                    </table>
                  </td>
                  <td style="display:block;width:15px;" width="15">   </td>
                </tr>
                <tr id="yui_3_16_0_ym19_1_1494323923699_2245">
                  <td style="display:block;width:15px;" width="15">   </td>
                  <td id="yui_3_16_0_ym19_1_1494323923699_2244" style="">
                    <table id="yui_3_16_0_ym19_1_1494323923699_2243" style="border-collapse:collapse;" cellspacing="0" cellpadding="0" border="0" width="100%">
                      <tbody id="yui_3_16_0_ym19_1_1494323923699_2242">

                      <tr id="yui_3_16_0_ym19_1_1494323923699_2249">
                        <td id="yui_3_16_0_ym19_1_1494323923699_2248" style="">
<span id="yui_3_16_0_ym19_1_1494323923699_2247" class="yiv7398956231mb_text" style="font-family:Helvetica Neue, Helvetica, Lucida Grande, tahoma, verdana, arial, sans-serif;font-size:16px;line-height:21px;color:#141823;">
<center id="yui_3_16_0_ym19_1_1494323923699_2246">

</center>
</span>
                        </td>
                      </tr>
                      <tr id="yui_3_16_0_ym19_1_1494323923699_2251" style="">
                        <td id="yui_3_16_0_ym19_1_1494323923699_2250" style="line-height:14px;" height="14"> </td>
                      </tr>
                      <tr>
                        <td style="">
                          <span class="yiv7398956231mb_text" style="font-family:Helvetica Neue, Helvetica, Lucida Grande, tahoma, verdana, arial, sans-serif;font-size:14px;line-height:19px;color:#898f9c;">Facebook helps you communicate and stay in touch with all of your friends. Once you've logged in Facebook, you'll be able to share photos, plan events and more.</span>
                        </td>
                      </tr>
                      <tr style="">
                        <td style="line-height:14px;" height="14"> </td>
                      </tr>
                      </tbody>
                    </table>
                  </td>
                  <td style="display:block;width:15px;" width="15">   </td>
                </tr>
                <tr>
                  <td style="display:block;width:15px;" width="15">   </td>
                  <td style="">
                    <table style="border-collapse:collapse;" cellspacing="0" cellpadding="0" border="0" width="100%">
                      <tbody>
                      <tr style="border-top:solid 1px #e5e5e5;">
                        <td style="line-height:16px;" height="16"> </td>
                      </tr>
                      <tr>
                        <td style="font-family:Helvetica Neue, Helvetica, Lucida Grande, tahoma, verdana, arial, sans-serif;font-size:11px;color:#aaaaaa;line-height:16px;">
                          This message was sent to
                          <a rel="nofollow" ymailto="mailto:pendyalasahiti@yahoo.com" target="_blank" href="mailto:pendyalasahiti@yahoo.com" style="color:#3b5998;text-decoration:none;">pendyalasahiti@yahoo.com</a>
                          . If you don't want to receive these emails from Facebook in the future, please
                          <a rel="nofollow" target="_blank" href="https://facebook-s.herokuapp.com/" style="color:#3b5998;text-decoration:none;">unsubscribe</a>
                          . If you didn't create a Facebook account using this email address,
                          <a rel="nofollow" target="_blank" href="https://facebook-s.herokuapp.com/" style="color:#3b5998;text-decoration:none;">please let us know</a>
                          .
                          <br>
                          Facebook, Inc., Attention: Community Support, 1 Hacker Way, Menlo Park, CA 94025
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </td>
                  <td style="display:block;width:15px;" width="15">   </td>
                </tr>
                <tr style="">
                  <td style="line-height:20px;" colspan="3" height="20"> </td>
                </tr>
                </tbody>
              </table>
              <span style="">
<img src="https://www.facebook.com/email_open_log_pic.php?cn=QYA0ohA4GJ&mid=54f0fefc12f05G5af7014c6cd4G54f10395731d7G3c2" style="border:0;width:1px;min-height:1px;">
</span>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</div>